
<style type="text/css">
body {
  background: #80BDCB;
}
#tabbar-div {
  background:#278296;
  padding-left:10px;
  height:21px;
  padding-top:0px;
}
#tabbar-div p {
  margin:1px 0 0 0;
}
.tab-front {
  background:#80BDCB;
  line-height:20px;
  font-weight:bold;
  padding:4px 15px 4px 18px;
  border-right:2px solid #335b64;
  cursor:hand;
  cursor:pointer;
}
.tab-back {
  color:#F4FAFB;
  line-height:20px;
  padding:4px 15px 4px 18px;
  cursor:hand;
  cursor:pointer;
}
.tab-hover {
  color:#F4FAFB;
  line-height:20px;
  padding:4px 15px 4px 18px;
  cursor:hand;
  cursor:pointer;
  background:#2F9DB5;
}
#top-div
{
  padding:3px 0 2px;
  background:#BBDDE5;
  margin:5px;
  text-align:center;
}
#main-div {
  border:1px solid #345C65;
  padding:5px;
  margin:5px;
  background:#FFF;
}
#menu-list {
  padding:0;
  margin:0;
}
#menu-list ul {
  padding:0;
  margin:0;
  list-style-type: none;
  color:#335B64;
}
#menu-list li {
  padding-left:16px;
  line-height:16px;
  cursor:hand;
  cursor:pointer;
}
#main-div a:visited, #menu-list a:link, #menu-list a:hover {
  color:#335B64
  text-decoration:none;
}
#menu-list a:active {
  color:#EB8A3D;
}
.explode {
  background:no-repeat 0px 3px;
  font-weight:bold;
}
.collapse {
  background:no-repeat 0px 3px;
  font-weight:bold;
}
.menu-item {
  background:no-repeat 0px 3px;
  font-weight:normal;
}
#help-title {
  font-size:14px;
  color:#000080;
  margin:5px 0;
  padding:0px;
}
#help-content {
  margin:0;
  padding:0;
}
.tips {
  color:#CC0000;
}
.link {
  color:#000099;
}
</style>

<div id="tabbar-div">
    <p>
        <span style="float:right; padding:3px 5px;" >
            <a href="javascript:toggleCollapse();">
            <%= image_tag("menu_minus.gif", alt: "闭合") %>
            </a>
        </span>
        <span class="tab-front" id="menu-tab">菜单</span>
    </p>
</div>
<div id="main-div">
    <div id="menu-list">
        <ul id="menu-ul">
            <li class="explode" key="02_cat_and_goods" name="menu">
            <!-- __APP__ : 入口文件 -->
            管理员模块
                <ul>
                    <li class="menu-item"><a href="<%= admins_path %>" target="main-frame">管理员列表</a></li>
                    <li class="menu-item"><a href="<%= privileges_path %>" target="main-frame">权限列表</a></li>
                    <li class="menu-item"><a href="<%= roles_path %>" target="main-frame">角色列表</a></li>
                    <li class="menu-item"><a href="<%= categories_path %>" target="main-frame">商品分类</a></li>

                    <li class="menu-item"><a href="goodsTrash.html" target="main-frame">商品回收站</a></li>
                </ul>
            </li>

            <li class="explode" key="04_order" name="menu">
            订单管理
                <ul>
                    <li class="menu-item"><a href="orderList.html" target="main-frame">订单列表</a></li>
                    <li class="menu-item"><a href="orderQuery.html" target="main-frame">订单查询</a></li>
                    <li class="menu-item"><a href="orderAdd.html" target="main-frame">添加订单</a></li>
                    <li class="menu-item"><a href="delivery_list.html" target="main-frame">发货单列表</a></li>
                    <li class="menu-item"><a href="back_list.html" target="main-frame">退货单列表</a></li>
                </ul>
            </li>
            <li class="explode" key="08_members" name="menu">
            会员管理
                <ul>
                    <li class="menu-item"><a href="userList.html" target="main-frame">会员列表</a></li>
                    <li class="menu-item"><a href="userAdd.html" target="main-frame">添加会员</a></li>
                    <li class="menu-item"><a href="userMessage.html" target="main-frame">会员留言</a></li>
                </ul>
            </li>
        </ul>
    </div>
    <div id="help-div" style="display:none">
        <h1 id="help-title"></h1>
        <div id="help-content"></div>
    </div>
</div>


