<%= render 'shared/error_messages' ,object: f.object %>

<table cellspacing="1" cellpadding="3" width="100%">
<tr>
    <td><%= f.label :role_name,"角色名称：" %></td>
    <td><%= f.text_field :role_name %></td>
</tr>
<tr>
    <td><%= f.label :pri_name, "权限列表：" %></td>
    <td>
    <ul>
		<% pri_tree.each do |pri| %>
			  <li level="<%= pri.level %>"><%= check_box_tag 'pri_id_list[]', pri.id%>
			  <%= label_tag '-' * 8 * pri.level+pri.pri_name %></li>
		<% end %>
		</ul>
	  </td>

</tr>
</table>




